<!-- base.html -->
<!DOCTYPE html>
<html lang="pt">
<head>
    <title>{% block title %}Default Title{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A Flask project showcasing academic content, researchers, and social impact initiatives.">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Nova Vitrine NeuroMat</h1>
        <nav>
            <a href="#academic">Publicações Academicas</a> |
            <a href="#researchers">Pesquisadores</a> |
            <a href="#socialimpact">Impacto Social</a> |
            <a href="#featured">Artigo em destaque</a> |
            <a href="/about">Sobre</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
        <a href="#top" class="back-to-top">Voltar a início</a>
    </main>

    <footer>
        <p>2025 Vitrine NeuroMat</p>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/featured.js') }}"></script>
   <!--  <script type="text/javascript" src="https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js"></script> -->


</body>
</html>
