<!-- base.html -->
<!-- Serve como um esqueleto estrutural e não lógico compartilhado por todas as páginas do site.
Este arquivo define o que é comum ao site, como cabeçalho, navegação, rodapé, carregamento de estilos e scripts. -->
<!DOCTYPE html>
<html lang="pt">
<head>
    <title>{% block title %}Default Title{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A Flask project showcasing academic content, researchers, and social impact initiatives.">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Vitrine NeuroMat</h1>
        <nav>
            <a href="#academic">Publicações Acadêmicas</a> |
            <a href="#researchers">Pesquisadores</a> |
            <a href="#socialimpact">Impacto Social</a> |
            <a href="#featured">Artigo em destaque</a>
        </nav>
    </header>

   <!-- Local onde as páginas que herdaram o conteúdo são alocadas e injetam sem próprios conteúdos -->
    <main>
        {% block content %}{% endblock %}
        <a href="#top" class="back-to-top">Voltar a início</a>
    </main>

    <footer>
        <p>2025 Vitrine NeuroMat</p>
    </footer>
  <!-- chamada de scripts para que sejam usadas em todas as páginas -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/featured.js') }}"></script>
    <script src="{{ url_for('static', filename='js/researchers.js') }}"></script>

   <!--  <script type="text/javascript" src="https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js"></script> -->


</body>
</html>
